@import './reset.css';
/* ---------------------------------------------- */
:root {
	--foreground: #d4d4d4;
	--background: #060720;
}
body {
	background: var(--background) url('../assets/background.jpg') center / cover no-repeat;
	color: var(--foreground);
	font-family: system-ui, sans-serif;
}

/* ---------------------------------------------- */
.keys {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	min-height: 100vh;
}
.key {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	border: 1px solid #000;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 15px;
	text-transform: uppercase;

	kbd {
		font-size: 20px;
	}
}
.key:hover {
	border-color: gold;
	background-color: rgba(0, 0, 0, 0.7);
}
.key:active {
	transform: scale(0.9);
}
.sound {
	color: gold;
	font-size: 14px;
}

.key.playing {
	transform: scale(0.95);
	transition: all 0.1s ease-in-out;
	box-shadow: 0 0 20px gold;
	border-color: gold;
	background-color: rgba(255, 215, 0, 0.3);
}
